<!doctype html>
    <body>
        <title>Logo Maker</title>
        <form class="form" method="GET" >
            <label for="logo_text">Enter the logo text bitte!</label><br>
            <textarea name="logo_text" id="logo_text" rows="1" style=" width: 50%;">{{t}} </textarea>
            <br>
            <label for="logo_width">Width:</label>
            <input type="logo_width" id="logo_width" name="logo_width"><br><br>
            <label for="logo_height">Height:</label>
            <input type="logo_height" id="logo_height" name="logo_height"><br><br>
            <label for="logo_margin">Margin:</label>
            <input type="logo_margin" id="logo_margin" name="logo_margin"><br><br>
            <label for="text_color">Text Color:</label>
            <input type="text_color" id="text_color" name="text_color"><br><br>
            <label for="back_ground_color">Back Color:</label>
            <input type="back_ground_color" id="back_ground_color" name="back_ground_color"><br><br>
            <label for="font_file">Font File:</label>
            <input type="font_file" id="font_file" name="font_file" value={{font_file}}><br><br>
            <label for="font_size">Font Size:</label>
            <input type="font_size" id="font_size" name="font_size"><br><br> 
            <br/>
            <br/>
            <input type="submit" value="Generate Image">
            <hr/>
        </form> 
    </body>
